/* Overrides base bootstrap colors */

@brand-primary:                   #1E9908;
@badge-bg: #555;
@link-hover-color:                darken(@link-color, 15%);
@btn-default-bg:                  #f1f1f1;
@navmenu-default-link-active-bg:  @brand-primary;
@navmenu-default-link-active-color:         #fff;

@navbar-default-color:             #fff;
@navbar-default-bg:                #fff;

@component-offset-horizontal: 120px;
@navbar-inverse-bg: #54834E;
@navbar-default-brand-color: #fff;
@navbar-default-link-color: #f1f1f1;
@navbar-default-link-hover-color: #fff;