extends ../layout

block content
	form(action='/user/', method='GET').form-inline.well.well-small
		input(type='text', name='tags', value='#{items.query.tags}', placeholder='what?')
		input(type='text', name='where', placeholder='where?', value='#{items.query.place.placename}, #{items.query.place.statecode || items.query.place.statename}')
		button(type='submit').btn Search

	if (items.items.length)
		ul.list.unstyled
			each item in items.items
				.item.row-fluid
					if(item.images && item.images.length)
						img(src=item.images[0].src).thumbnail
					.span8
						ul.subList
							each service in item.services
								li.subItem
									strong
										a.name(href='/service/' + service._id) #{service.name}
									span.price &nbsp;$#{service.price}
	else
		div No Results