extends ../layout

block content
  if(verseModel)
    include ../shared/_verseSearchResults
    script.
      var searchView = new App.Views.Search({
        title: "#{(verseModel) ? verseModel.title : ''}"
      });
  else
    include ../shared/_searchResults