extends ../layout

block content
    .row-fluid
        .span8
            h3(syle="margin-top:0") Create Reading Group
            form.readingPlan(action='/api/plan', method='POST', data-action='form')
                label
                    strong Plan Name:
                input.span9(type='text', name='name', placeholder='Create a name for your reading group')

                label
                    strong What Book you be starting with?:
                
                select(name='book', data-placeholder="Filter insights by tags", style="width:150px;").muted
                    each book in Bible.books
                        option(value='#{book.osisID}') #{book.book}

                // We need to add in the ability to specify a chapter
                input(type="text", name="chapter", placeholder="Chapter")

                input(type='hidden', value='', name='creator')
                div
                    button(type='submit').btn Save

        .span4.hide.scriptureHolder

    script
        $('.readingPlan').on('success', function(e, response, status, xhr, form) {
            if(response.success)
                location.href = '/plan/' + response.model._id;
        })
        $('form .range').on('keyup', function() {
            var range = $(this).val();
            $.get('/api/bible/passage/' + range, {}, function (response) {
                var source   = $("#passageTmpl").html();
                var template = Mustache.render(source, response.model);
                var verseIds = [];
                var verses = response.model.books.each(function (book) {
                    book.chapter.each(function (c) {
                        console.log(c.verse)
                        verseIds = verseIds.concat(c.verse.map('osisID'))
                    })
                })
                $('[name="verses"]').data('value', verseIds);
                $('.scriptureHolder').html(template)
                $('.scriptureHolder').find('.collapse').removeClass('collapse')
                $('.scriptureHolder').fadeIn(1000);
            })
        })
        $("[name='book']").chosen()