extends ../layout

block content
        a(href='/plan/join/' + item._id).btn.btn-primary.pull-right.hide Join
        //.col-lg-3.fadeable.leftCol

            div.social.hide
                - url = 'http://www.lastvine.com' +req.path
                div
                    iframe(src="//www.facebook.com/plugins/like.php?href=" + url +"&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=187296184704119"
                        scrolling="no"
                        frameborder="0"
                        style="border:none; overflow:hidden; width:450px; height:20px;"
                        allowTransparency="true")
                div
                    a(href="https://twitter.com/share", data-url="#{url}", class="twitter-share-button", data-via="lastvine", data-lang="en") Tweet
                    script!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        .sideBar
            .navbar.navbar-static-top.navbar-inverse
                a(href='/').navbar-brand lastvine
                .btn-group.pull-right.navbar-btn
                    a(href='#').btn.btn-default.active #{item.name}
                    a(href='#').btn.btn-default
                        span.glyphicon.glyphicon-cog

            ul.list-group.accordion#annotations
                - annotations = annotations.sortBy(function(a) {return Date.create(a.createdOn)}, true)
                each a in annotations
                    li.list-group-item
                        .media
                            img.pull-left.thumbnail.media-object(src="#{a.user.thumbnailUrl}", data-toggle="hide", href="#item_#{a._id}")
                            .media-body
                                h4.media-heading
                                    a(href="#", href="#item_#{a._id}", data-toggle="hide") #{a.user.name}
                            small.pull-right #{Date.create(a.createdOn).relative()}
                        .hide(id="item_#{a.id}")
                            - var selection = a;
                            include ../shared/_selection

        .mainContent
            #todaysReading.bibleText
                - var model = item.passage

                // Move verse numbers to absolute positioned based on offset of classname
                include ../shared/verserender
        .col-lg-1.hide
            .newAnnotateHolder.hide(data-spy="affix")
                .innerHolder
                    a(href='#').close x
                    h4 Annotation
                    form.annotate.open(action='/api/annotation/create/', method='POST', data-action='form')
                        .textarea(contenteditable="true", style='width:230px')

                        input(type="hidden", name="text")

                        input(type='hidden', name='type', value='thought')

                        input(type='hidden', name='verses')
                        input(type='hidden', name='plan', value="#{item._id}")

                        input(type='hidden', name='selectedText')
                        input(type='hidden', name='selectedIndex')

                        input(type='hidden', name='selectedStart')
                        input(type='hidden', name='selectedChapterOsis')
                        input(type='hidden', name='selectedEnd')

                        input(type='hidden', value='#{req.user._id}', name='user')
                        div.footer.col-lg-12
                            button(type='submit').btn Save

        script
            $(function (argument) {
                Vine.temp.planId = !{JSON.stringify(item._id)};
                Vine.pageData = !{JSON.stringify(annotations)}
                $('.shareOnTwitter').on('click', function() {
                    window.open('https://twitter.com/share?url=#{encodeURIComponent(url)}&text=#{encodeURIComponent(item.name.remove(/\"|\'/g).remove(/(\r\n|\n|\r)/gm))}&via=lastvine',
                        'Share on Twitter',
                        'width=600,height=270,top=300,left=300'
                        )
                })
                Vine.ShareOnFb =  function() {
                    window.open('http://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('#{url}') + '&t=' + encodeURIComponent('#{item.name.remove(/\"|\'/g).remove(/(\r\n|\n|\r)/gm)}'), 'Share on Facebook', "width=640,height=300");
                }
                $('.commentForm').on('success', function() {
                    location.reload()
                })
                $('.bibleText').mousedown(function (e) {
                    $('.hover').addClass('hide')
                })

            });

