extends ../layout

block content
  script(src="/js/jquery-ui.min.js")
  script(src="/js/rangy-selectionsaverestore.js")
  div.container
    .col-md-6
      h4 Passage of the day

      form(action="/admin/addPassage", method="POST")
        label Passage
        .textarea(contenteditable="true", data-placeholder="Gen 1:1-Gen 1:10", data-copyto="[name='title']").form-control
        input(type="hidden", name="title")
        input(type="hidden", name="verses")
        label Date
        input(data-show="datepicker", name="date").form-control

        .form-actions.clearfix(style="margin-top:10px;")
          button(type="submit").btn.btn-primary.pull-right Save

    .col-md-6
      h4 Upcoming Passages
      ui.list-group
        each passage in items
          li.list-group-item.post
            h4 #{passage.title}
            small.post-meta #{Date.create(passage.date).format()}
            form(method="GET", action="/admin/publishPassage/#{passage._id}", data-action="form")
              button(type="submit").btn.btn-primary Publish
