extends ../layout

block content
  .container
    h3 Create Type

    form(action="/admin/createType", method="post")
      label Name
      input(type="text", name="name").form-control

      label Description
      textarea(name="description").form-control

      label Type Icon
      input(type="file", name="icon").form-control

      label Action Name
      input(type="text", name="actionname").form-control

      label Action Template
      input(type="text", name="actiontemplate").form-control

      label Action Icon
      input(type="file", name="actionicon").form-control

      .form-actions
        button(type="submit").btn.btn-primary Create
