li.media
    a(href='/user/#{c.user._id}').pull-left
        if(c.user.thumbnailUrl)
            img.media-object.thumbnail(src='#{c.user.thumbnailUrl}')
        else
            img.thumbnail.media-object(src='/img/grey-silhouette.png', style='height:30px;')
    .media-body
        .media-heading
            a(href='/user/#{c.user._id}') #{c.user.name}
        div #{c.text}
        div(style='text-align:right')
            small #{Date.create(c.createDt).relative()}