
.list-group-item.media(style="margin-top:0")
    a(href='/user/#{a.user._id}').pull-left
        if(a.user.thumbnailUrl)
            img.media-object.thumbnail(src='#{a.user.thumbnailUrl}')
        else
            img.thumbnail.media-object(src='/img/grey-silhouette.png', style='height:30px;')
    .media-body
        h4.media-heading
            a(href='/user/#{a.user._id}') #{a.user.name}
        .collaped
            p.item-text #{a.text}
            - var osis = (a.selectedChapterOsis) ? a.selectedChapterOsis.split('.'): null;

            blockquote
                p(style="font-style:italic;font-size:11px") #{a.selectedText}&nbsp;
                small
                    a.muted(href="/search?osis=" + a.selectedChapterOsis, data-scripture="true") #{a.bookName} #{a.chapterNum}:#{a.selectedStart}-#{a.selectedEnd}

            ul.commentContainer.media-list
                each c in a.comments
                    include _comment

            form.comment(action='/api/annotation/' + a._id + '/comment' , method='POST', data-action='form')
                .row-fluid
                    .textarea(contenteditable="true", data-placeholder="Comment...").span10.condensed
                    input(type="hidden", name="text")

                    input(type='hidden', value='#{req.user._id}', name='user')