.fullSelectionContainer(style="background-color:#fff")
        a(href="#item_#{selection._id}").close x
        div
            p #{selection.text}
    ul.commentContainer.media-list
        each c in selection.comments
            include _comment


    form.comment.open(action='/api/annotation/' + selection._id + '/comment' , method='POST', data-action='form')
        .row-fluid
            .textarea(contenteditable="true").span10.condensed Comment...
            input(type="hidden", name="text")

            input(type='hidden', value='#{req.user._id}', name='user')
        .row-fluid
            //button(type='submit').btn.pull-right Save



