each b in model.books
    each c in b.chapter
        .btn-group
                a(href='#').btn.btn-default.prevChapter <<
                a(href='#').btn.btn-default.active #{b.book} #{c.chapter}
                a(href='#').btn.btn-default.nextChapter >>
        div.versesText(data-osisID="#{c.osisID}")
            each verse in c.verse
                div(class="verse", id="verse-#{verse.verse}")
                    span !{verse._}
