li.clearfix
  div.media
    div.pull-left.note-list-score.hide
      //form(method="GET", action="/api/note/#{verse[0].osisID}/voteup/#{n._id}", data-action="form")
        button(href="#").btn.btn-link
          span.fa.fa-chevron-up
      .text-center #{n.scoreText}
      //form(method="GET", action="/api/note/#{verse[0].osisID}/votedown/#{n._id}", data-action="form")
        button(href="#").btn.btn-link
          span.fa.fa-chevron-down

    div.media-body.note-list-body
      h5.clearfix
        a(href="/user/#{n.user._id}", data-type='navigator') #{n.user.name}
        a(href="/user/#{n.user._id}", data-type='navigator').pull-left
          img(src="#{n.user.thumbnailUrl}", width="32", style="margin-left:0").img-circle
        span &nbsp;commented on&nbsp;
          if(n.topicVerses && n.topicVerses.length)

            strong #{n.topicVerses[0].readableName}
      div.note-body-text #{n.text}
      if(n.topicVerses && n.topicVerses.length)
        blockquote
          p.text-muted #{n.topicVerses[0].text}


      div #{n.likeCount}
      div
        ul.list-inline.action-list.pull-left
          li
            if(n.topicVerses && n.topicVerses.length)
              form(method="GET", action="/api/note/#{n.topicVerses[0].osisID}/voteup/#{n._id}", data-action="form").like-form
                if n.liked
                  a(href="#").btn.btn-plain.btn-sm.active
                    span.fa.fa-heart(style="color:#9528AA")
                    | &nbsp;Liked
                else
                  button(type="submit").btn.btn-plain.btn-sm
                    span.fa.fa-heart(style="color:green")
                    | &nbsp;Like
          li.hide
            a(href="#").text-muted.btn.btn-plain.btn-sm
              span.fa.fa-facebook &nbsp;
          li.hide
            a(href="#").text-muted.btn.btn-plain.btn-sm
              span.fa.fa-twitter &nbsp;
        small.pull-right.text-muted #{Date.create(n.createdOn).relative()}
  hr