form.followForm(action="/api/follow", method="post", data-action="form").pull-right
  input(type="hidden", value="#{item._id}", name="followee")
  input(type="hidden", value="#{req.user._id}", name="follower")
  input(type="hidden", name="isUnfollow").isUnfollow
  if(isFollowee)
    button(type="submit").btn.span12.following Following
  else
    button(type="submit").btn.btn-primary.btn-sm.span12.followMe Follow