.mainContent
  .container
    #newNote
      div.fileupload.fileupload-new(data-provides="fileupload").center
        div.fileupload-preview.fileupload-exists.thumbnail(style="max-width: 600px; max-height: 400px; line-height: 20px;")
        div
          span.btn.btn-file.btn-link
            span.glyphicon.glyphicon-picture.btn-file(style="font-size:70px", data-trigger="fileupload")
            //form(action="/api/note/upload", method="post", data-action="form", enctype='multipart/form-data').uploadForm
            input(type="file", name="mainImage")
          //a(href="#", data-dismiss="fileupload").btn.fileupload-exists Remove
          button.btn.btn-primary.hide(type='submit', class="btn fileupload-exists", style='margin-left:10px') Save

      form.annotate(action='/api/note/create/', method='POST', data-action='form').open
        input(type="hidden", name="coverId")
        div(contenteditable="true", data-placeholder="Type your title", data-copyto="title").noteTitle
        div(id="toolbar", style="display: none;")
          .btn-group
            a(data-wysihtml5-command="bold",title="CTRL+B").btn.btn-primary.btn-sm
              span.glyphicon.glyphicon-bold
            a(data-wysihtml5-command="italic",title="CTRL+I").btn.btn-primary.btn-sm
              span.glyphicon.glyphicon-italic
          .btn-group(style="margin-left:10px")
            a(data-wysihtml5-command="formatBlock", data-wysihtml5-command-value="h3").btn.btn-primary.btn-sm
              span.glyphicon.glyphicon-header
            a(data-wysihtml5-command="insertUnorderedList",title="CTRL+I").btn.btn-primary.btn-sm
              span.glyphicon.glyphicon-list
          .btn-group(style="margin-left:10px")
            a(href="#", data-wysihtml5-command="insertImage", data-wysihtml5-command-value="http://url.com/foo.jpg").btn.btn-primary.btn-sm
              span.glyphicon.glyphicon-picture

        textarea.textareaBody(spellcheck="false", placeholder='Is there any word from the lord?', id="textarea")
        input(type="hidden", name="text")
        input(type="hidden", name="title")

        input(type='hidden', name='type', value='thought')

        input(type='hidden', name='verses')
        input(type='hidden', name="book", value='#{model.book}')
        input(type='hidden', name="chapter", value='#{model.chapter}')
        input(type='hidden', name="group", value='#{model.group}')

        input(type='hidden', value='#{req.user._id}', name='user')
        div.clearfix
            button(type='submit').btn.btn-info.pull-right Save
    script.
      $(function() {
        view = new App.Views.NewNote({elm: $('body')});

      })