if p.type == "note"
  li.clearfix
    .item-content-holder.media-body.note-list-body
      h4(style="margin:0").clearfix
        a(href="/user/#{p.user._id}", data-type='navigator').pull-left
          img(src="#{p.user.thumbnailUrl}", width="30").img-circle.pull-right
        a(href="/user/#{p.user._id}", data-type='navigator').normal-link #{p.user.name}
        if(p.topicVerses && p.topicVerses.length)
          small &nbsp;commented on&nbsp;
          a(href="/verse/#{p.topicVerses[0].osisID}", data-type='navigator').normal-link
            strong #{p.topicVerses[0].readableName}
      .post-snippet.note-body-text !{p.text}
      if(p.topicVerses && p.topicVerses.length)
        blockquote
          p.text-muted #{p.topicVerses[0].text}

      if(p.images)
        .post-images
          each img in p.images
            if(img.url)
              img(src="#{img.url}")

      .note-footer.clearfix
        .pull-right
          small.text-muted #{Date.create(p.createdOn).relative()}
        .post-actions.clearfix
          ul.list-inline.action-list
            li
              form(method="GET", action="/api/note/#{p._id}/like", data-action="form")
                button(type="submit").muted.btn.btn-plain.btn-sm
                  span.fa.fa-heart-o
                  | &nbsp; Like
            li
              a(href="#comment_#{p._id}").muted.toggleLink.btn.btn-plain.btn-sm
                span.fa.fa-reply
                | &nbsp; Reply

      .note-comments(id="comment_#{p._id}", class="#{p.comments.length > 0 ? 'show' : 'hide'}").hide
        if(p.likes.length)
          div
            a(href="#")
              small
                span.fa.fa-heart
                | &nbsp; #{p.likes.length} Likes
        each c in p.comments
          .media.clearfix
            a(href="#").pull-left
              img.media-object(src="#{c.user.thumbnailUrl}").img-circle
            .media-body
              strong #{c.user.name}
              p.comment-list-body #{c.text}
              small.muted(style='color:#999').pull-right #{Date.create(c.createDt).relative()}
        form(method="post", action="/note/#{p._id}/comment", data-action="form").comment
          input(type="hidden", name="user", value="#{req.user._id}")
          .textarea(contenteditable="true", data-placeholder="Add a comment...", data-copyto="[name='text']").form-control
          input(type="hidden", name="text")
          .clearfix.footer
            button(type="submit").btn.btn-primary.btn-sm.pull-right Save
    hr
else if p.type == 'joined'
  li.clearfix
    .item-content-holder.media-body.note-list-body
      h5
        a(href="/user/#{p.user._id}") #{p.user.name}
        |&nbsp;joined the group.

    hr