if(item.thumbnailUrl)
  if(req.user && req.user._id.toString() == item._id.toString() && !item.disablePhotoEdit)
    div.fileupload.fileupload-new(data-provides="fileupload").text-center
      div.fileupload-new
        img(src="#{item.thumbnailUrl}").img-circle.profile-pic
      div.fileupload-preview.fileupload-exists.text-center(style="line-height: 20px;")
      div
        span.btn.btn-file.btn-default
          span.fileupload-new Select image
          span.fileupload-exists Change
          input(type="file", name="mainImage", data-target='[name="thumbnailUrl"]')
        //a(href="#", data-dismiss="fileupload").btn.fileupload-exists Remove
        //button.btn.btn-primary(type='submit', class="btn fileupload-exists", style='margin-left:10px') Save
  else
    div.text-center
      img(src='#{item.thumbnailUrl}').img-circle.profile-pic
else
  if(req.user && req.user._id.toString() == item._id.toString())
    div.fileupload.fileupload-new(data-provides="fileupload").span3
      div.fileupload-preview.thumbnail(style="width: 200px; height: 150px;")
        img(src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image')
      div
        span.btn.btn-default.btn-file
          span.fileupload-new Select image
          input(type="file", name="mainImage", data-target='[name="thumbnailUrl"]')
  else
    img.col-lg-2(src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image')


form(action="/user/image", method='post', data-action='form')
  input(type="hidden", name="thumbnailUrl")
  button(type="submit").hide submit