.container
  .col-md-8.main-content
    if(groups && groups.length)
      h3 Reading Groups
      ul.image-list.list-unstyled
        each g in groups
          li.post.clearfix
            a(href="/group/#{g._id}", data-type="navigator").pull-left
              img(src="#{g.thumbnailUrl}").img-circle
            .post-content.media-body
              h4
                a(href="/group/#{g._id}", data-type="navigator") #{g.name}
              .post-snippet !{g.description.truncate(300)}

              .footer.clearfix
                small.post-meta #{g.members.length || 0} members

                small.post-meta.pull-right #{g.creator.name}

    if(users && users.length)
      h3 People
      hr
      ul.list-unstyled
        each u in users
          li.media(style="margin-top:0")
            a(href="/user/" + u._id, data-type="navigator").pull-left
              img.media-object(src='#{u.thumbnailUrl}', width="50", height="50")
            .media-body
              h5.media-heading
                a(href='/user/#{u._id}', data-type="navigator") #{u.name}
              -var item = u;
              include _followButton
              - item =undefined;
    if(verses && verses.length)
        h3 Verses
        hr
        ul.list-unstyled.verseContainer
          each verse in verses
            li
              div(class="verse", id="verse-#{verse._source.osisID}")
                h4
                  a(href="/verse/#{verse._source.osisID}", data-type="navigator") #{verse.readableName}
                div !{verse.highlight.text}&nbsp;
                .clearfix
                  ul.list-inline.action-list
                    li
                      a(href="#").muted
                        span.glyphicon.glyphicon-heart
                        | &nbsp; Favorite
                    li
                      ·
                    li
                      a(href="#").muted
                        span.glyphicon.glyphicon-heart
                        | &nbsp; Question
                    li
                      ·
                    li
                      a(href="#").muted
                        span.glyphicon.glyphicon-tag
                        | &nbsp; Add Topic
                    li
                      ·
                    li
                      a(href="#").muted
                        span.glyphicon.glyphicon-comment
                        | &nbsp; Note

                  ul.list-inline
                    li
                      a(href="#").muted 14,500 favorited
                    li
                      ·
                    li
                      a(href="#").muted 14 questions
                    li
                      ·
                    li
                      a(href="#").muted 221 notes

  script.
    $('form.followForm').on('success', function (e, response, statusText, xhr, $form) {
      if(response.success)
        $('button', $form).attr('disabled', 'disabled');
    })
