form(method='post', action='/user/login').form-signin
  h1.form-signin-heading Sign in
  a(href="/verify/facebook", style="margin-bottom: 10px;").btn.btn-facebook.hide
    span.fa.fa-facebook-square
    | &nbsp;|&nbsp;Login with facebook

  if(message && message.length)
    .alert.alert-danger #{message}

  if (next)
    input(type="hidden", value="#{next}", name="next")
  input(type='text', name='email', placeholder='Email').form-control
  input(type='password', name='password', placeholder='Password').form-control
  .forgot-password
    a(href="/user/forgotpassword") Forgot Password?
  div(style="margin-top:20px")
    button(type='submit').btn.btn-default.btn-lg.btn-block Login
