.container

  .home-signedout
    if(!group)
      h1.form-signin-heading.text-center.text-muted #{title}
    else
      h1.form-signin-heading.text-center.text-muted Sign up to be a member of
        br
        span(style="color:#1E9908")&nbsp; #{group.name}
    form(method='post', action='/api/user/create', data-action="form").form-signup
      .alert.alert-danger.hide
        .message
      if(isIe)
        label Name:
      input(type='text', name='name', placeholder='Name').form-control.first-input
      if(isIe)
        label Password:
      input(type='password', name='password', placeholder='Password').form-control
      if(isIe)
        label Email:
      input(type='text', name='email', placeholder='Email').form-control.last-input
      if(token)
        input(type='hidden', name='token', value="#{token}")
      div(style="margin-top:20px")
        button(type='submit').btn.btn-default.btn-lg.btn-block Register

      div(style="margin-top:20px;") Already have an account?
        - console.log(next)
        if(next)
          a(href="/login?next=#{next}", data-type="navigator") &nbsp;Log in now
        else
          a(href="/login", data-type="navigator") &nbsp;Log in now