.container.user-page
  .clearfix
    .btn-group.pull-right
      if(req.user && req.user._id.toString() == item._id.toString())
        a(href="/user/#{item._id}/edit").btn.btn-default.btn-xs Edit Info
        a(href="/user/logout").btn.btn-default.btn-xs Sign Out
  .col-md-4.text-center.profile-section
    .clearfix
      - item.disablePhotoEdit = true;
      include _profilepic
      h3.text-center #{item.name}
        if(!req.user || req.user._id.toString() != item._id.toString())
          include _followButton
      ul.list-inline
        li(style="border-right:solid 3px #f1f1f1")
          div
            h4.text-center(style="font-size:20px")
              a(href="/user/#{item._id}", data-type="navigator").normal-link 10
            .text-muted(style="font-size:13px")
              a(href="/user/#{item._id}", data-type="navigator").text-muted Posts



  .col-md-8
    .lv-panel(style="margin-top:0;")
      .lv-panel-inner
        if tab == 'posts'
          if !posts.length
            .alert.alert-warning
              h5 No Posts
          ul.list-unstyled.note-list(data-more-handler="true")
            each n in posts
              include _feedPost
        if tab == 'following'
          ul.list-unstyled.follow-list
            each p in following
              li
                .clearfix
                  a(href="/user/" + p._id, data-type="navigator").pull-left
                    img.img-circle(src='#{p.thumbnailUrl}', width="50", height="50")
                  .media-body
                    h5.media-heading
                      a(href="/user/#{p._id}", data-type="navigator").normal-link #{p.name}
                hr
        if tab == 'followers'
          ul.list-unstyled.follow-list
            each p in followers
              li
                .clearfix
                  a(href="/user/" + p._id, data-type="navigator").pull-left
                    img.img-circle(src='#{p.thumbnailUrl}', width="50", height="50")
                  .media-body
                    h5.media-heading
                      a(href="/user/#{p._id}", data-type="navigator") #{p.name}
                hr
        if tab == 'favorites'
          h3 Favorites