.container.user-page
  .main-content.col-md-12
    .clearfix
      include _profilepic
      form(method="put", action="/api/user/#{item._id}/update", data-action="form").form-horizontal
        .form-group
          .col-sm-3.control-label
            strong Name:
          .col-sm-9
            input(name="name", value="#{item.name}").form-control
            .help-block Name that will appear in search
        .form-group
          .col-sm-3.control-label
            strong Email:
          .col-sm-9
            input(name="email", value="#{item.email}").form-control
            .help-block Will not be displayed publically
        .form-group
          .col-sm-3.control-label
            strong Denomiation:
          .col-sm-9
            input(name="denomination", value="#{item.denomination}").form-control
            .help-block Denominational views. It's ok to leave blank.

        .clearfix
          button(type="submit").btn.btn-primary.pull-right Save