extends ../layout

block content

  .container
    .text-center
      h3 Unsubscribe
      form(method="post", action="/api/unsubscribe", data-action="form")
        label What's you email?

        input(type="input", name="email").form-control
        button.btn.btn-default Save