extends layout

block content
  .container
    .home-signedout.text-center
      h1 Schejule

      .row.hide
        .col-md-2.cover-photo-grass
        .col-md-2.cover-photo-carwash
      .form-signup
        a(href="/login").btn.btn-default.btn-lg.btn-block Login

      .form-signup
        a(href="/signup").btn.btn-primary.btn-lg.btn-block Sign Up
  script.
    var view = new App.Views.Auth({
      elm: $('form')
    })